*.py[cod]

# Executable script
run.py

#settings files
CACHE

# Ignore logs folder
logs

# C extensions
*.so

# Packages
.installed.cfg
*.egg
*.egg-info
develop-eggs
eggs
build
dist
include
lib
lib64
parts
sdist
var
wheelhouse

# Installer logs
pip-log.txt

# Python virtual envs
mcenv
venv

# Emacs clutter
TAGS
TAGS~
*~
\#*#
.#*
www/uploads

#Mac Clutter
.DS_Store

#Pycharm
.idea

#Files
test.py
test.png
